.nav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
    font-size: 1.5em;
    padding: 0.3em;
    background-color: white;
    z-index: 1;
}

.displayFooter{
    display: block;
}
.displayBottomNav{
    display: none;
}

.product{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 2em;
}
.product:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.8s;
}
.loginbtn{
    border: none;
    background-color: white;
    font-size: 0.8em;
    color: blue;
    margin-right: 3em;
    margin-bottom: 0.2em;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: 2em;
}
.image{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    margin-top: 0.1em;
    cursor: pointer;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25em;
    color: white;
    background-color: #171934;
    padding-left: 0.59em;
    padding-right: 0.59em;
}
.footerHeading{
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
}
.socialM{
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerLogo{
    margin-right: 2em;
}
.hrLine{
    max-width: 74em;
    min-width: 70vw;
    margin-top: 2em;
}
.table{
    margin-left: 7em;
    margin-right: 7em;
    display: flex;
    justify-content: center;
    font-size: 1em;
}
th,td{
    padding: 1em;
    text-align: left;
}
.cartIcon{
    margin-left: 3em;
    font-size: 1.3em;
    margin-top: 0.1em;
    cursor: pointer;
}
.idLogo{
    cursor: pointer;
}
.notLogged{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
    width: 2em;
}
.logo{
    font-size: 1.6rem;
    margin-left: 4rem;
    cursor: pointer;
    margin-right: 3rem;
}
.cartIcon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
  }
  .cartIcon .number{
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    box-shadow: 0 0 8px 3px #B8B8B8;
}

.mobileBottomNaveContainer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
    padding: 0.2rem 0rem;
    font-size: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottomHomeIcon{
    color: black;
}

.bottomIcon{
    margin-left: 4rem;
    color: black;
}

.bottomImage{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: 3rem;
    margin-top: 0.3rem;
    align-self: center;
}

.bottomLoginLink{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bottomLoginbtn{
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 1rem;
}

@media screen and (max-width: 910px) {
    .displayFooter{
        display: none;
    }
    .displayBottomNav{
        display: block;
    }
    .icons{
        display: none !important;
    }
    .nav{
        justify-content: center;
    }
    .productsContainer{
        margin-bottom: 4.5rem;
        margin-left: 1rem;
    }
    .cartIcon{
        margin-left: 3rem;
        font-size: 2rem;
    }
    .cartIcon i{
        color: black;
    }
    .cartIcon .number{
        width: 1rem;
        height: 1rem;
        top: -0.2rem;
    }
}

@media screen and (max-width: 1180px) {
    .productsContainer{
        max-width: 82em;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
    }
  }

@media screen and (max-width: 1024px) {
    .productsContainer{
        
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }
  }

  
@media screen and (min-width: 1180px) {
    .productsContainer{
       
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
    }
  }
