.main_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100vw;
}
.homebtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7em;
    font-size: 1.3em;
    margin: 1.5em 0 0 6rem;
    cursor: pointer;
}
.list_container{
    margin-top: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: auto;
    height: auto;
}
.details{
    margin-left: 6em;
}
.name{
    font-size: 2em;
}
.category{
    font-size: 1.2em;
    color: grey;
}
.price{
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.2em;
    font-style: bold;
}
.description{
    color: grey;
    margin-top: 2em;
}
.avaibility{
    color: grey;
    margin-right: 0.5em;
}
.stock{
    color: skyblue;
}
.bottomBtns{
    display: flex;
    flex: row;
    font-size: 1.5em;
    align-items: center;
}
.bottomIcons{
    margin-top: 2rem;
}
.imageSection{
    display: flex;
    flex-direction: column;
}
.miniImgs{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    cursor: pointer;
}
.mini{
    height: 100px;
    width: 65px;
    cursor: pointer;
}
.belowIcons{
    cursor: pointer;
}
.bottomBtns i{
    cursor: pointer;
}
.product{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.miniImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 1024px) {
    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details{
        margin-top: 6em;
        text-align: center;
        margin-right: 6em;
    }
  }

@media screen and (max-width:910px) {
    .main_container{
        padding: 0;
    }
    .homebtn{
        margin: 1.5rem 0rem 2rem 2rem
    }
    .list_container{
        margin-top: 2.5rem;
    }
    .image{
        width: 147px;
        height: 230px;
    }
    .mini{
        width: 50px;
        height: 80px;
    }
    .details{
        margin-top: 1rem;
    }
    .name{
        font-size: 1.8rem;
    }
    .category{
        font-size: 1.2rem;
    }
    .price{
        margin: 0.5rem;
        font-size: 1.8rem;
    }
    .avaibility, .stock{
        font-size: 1rem;
    }
    .description{
        margin-top: 1rem;
    }
    .bottomBtns{
        display: flex;
        flex-direction: column;
    }
    .bottomIcons{
        margin-top: 1rem;
    }
}


  

